.txtBar{
position: fixed;
top: 15%;
left: 30%;
}

.inputTxt{
  height: 30px;
  width: 500px;
  border-radius: 10px;
  border: 3px solid dodgerBlue;
}

::placeholder{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
