.deck{
  position: fixed;
  top: 30%;
  left: 30%;
  height: 100%;
  width: 500px;
  background: #d3d6db;
  box-shadow: 1px 1px 1px #ff5d9e;
}

.flex-cards{
display: flex;
flex-direction: column;
gap: 6px;
}
