<ng-container>
  <div class = "acctPage">
    <a id = "persInfo">Personal Information</a>
    <form class = "acctForm" #f="ngForm" (ngSubmit)= "onSave(f.value)">
      <div class = "fields">
        <div class = "row1">
      <input name= "firstName" placeholder="First Name" id = "firstName" type= "text" ngModel>
      <input name= "lastName" placeholder="Last Name" id = "lastName" type= "text" ngModel>
      </div>
      <div class = "row2">
      <input name= "email" placeholder="Email" id = "email" type= "email" ngModel>
      </div>
      <div class = "row3">
      <input name= "address" placeholder="Address" id = "address" type= "text" ngModel>
      <input name= "apt" placeholder="Apt #" id = "apt" type= "number" ngModel>
      </div>
      <div class = "row4">
      <input name= "city" placeholder="City" id = "city" type= "text" ngModel>
      <input name= "state" placeholder="State" id = "state" type= "text" ngModel>
      <input name= "zipCode" placeholder="Zip Code" id = "zipCd" type= "number" ngModel>
      </div>
      <div class = "row5">
      <select placeholder="Gender" id = "gender" name= "gender" ngModel>
        <option value = ""><a>Gender</a></option>
        <option value = "Male"><a>M</a></option>
        <option value = "Female"><a>F</a></option>
        </select>
      <input name= "dob" placeholder="DOB(dd/mm/yyyy)" id = "dob" type= "text" ngModel>
      <input name= "phone" placeholder="Phone #" id = "phone" type= "number" ngModel>
      </div>
      </div>
      <button type = "submit">Save</button>
    </form>
  </div>
</ng-container>
